<div class="container">
  <div class="row background">
    <div class="col-md-6 col-md-offset-3 well-font">
      <h1 class="text-center">Edit Your profile</h1>
      <h3 class="text-center">Update your profile with all of your latest info!</p>
      <div class="well">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>