<div class="container">
  <div class="row background">
    <div class="col-md-6 col-md-offset-3 well-font">
      <h1 class="text-center">Create Your profile</h1>
      <h3 class="text-center">Be a part of the DevMatch community and fill out your profile!</p>
      <div class="well">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>