<div class= "background">
  <div class="home-callout text-center container-fluid well-font">
  <h1>About Us</h1>
  <br/><br/>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
       for developers, investors, and entrepreneurs to meet.</p>
  </div>
</div>

