<!--<div class="home-background">-->
  <div class="home-callout text-center container-fluid">
  <h1>About Page</h1>
  <br/><br/>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
       for developers and entrepeneurs to meet.</p>
  </div>

