<!DOCTYPE html>
<html>
    <head></head>
    <body>
      <p>You have received an email from the site (DevMatch.com)'s contact form, 
      from <%= "#{ @name }: #{ @email }." %></p>
      <br/>
      <p><%= @body %></p>
    </body>
</html>