/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Typography Styles
h1, h2, h3, h4, ul {
  font-family: 'Cabin', sans-serif;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

// Backgroung Gradient
.background {
  background: #18619E;
  // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004394+0,005eb0+50,008af4+100 */
  // background: rgb(0,67,148); /* Old browsers */
  // background: -moz-linear-gradient(left,  rgba(0,67,148,1) 0%, rgba(0,94,176,1) 50%, rgba(0,138,244,1) 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(left,  rgba(0,67,148,1) 0%,rgba(0,94,176,1) 50%,rgba(0,138,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to right,  rgba(0,67,148,1) 0%,rgba(0,94,176,1) 50%,rgba(0,138,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004394', endColorstr='#008af4',GradientType=1 ); /* IE6-9 */
  // padding-top: 5px;
  // padding-bottom: 10px;
}        

// .home-background{
// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004394+0,005eb0+50,008af4+100 */
//   background: rgb(0,67,148); /* Old browsers */
// //   background: -moz-linear-gradient(left,  rgba(0,67,148,1) 0%, rgba(0,94,176,1) 50%, rgba(0,138,244,1) 100%); /* FF3.6-15 */
// //   background: -webkit-linear-gradient(left,  rgba(0,67,148,1) 0%,rgba(0,94,176,1) 50%,rgba(0,138,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
// //   background: linear-gradient(to right,  rgba(0,67,148,1) 0%,rgba(0,94,176,1) 50%,rgba(0,138,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004394', endColorstr='#008af4',GradientType=1 ); /* IE6-9 */
// }   

.navbar, .navbar-default {
  background-color: #91C3DC;
}

.welcome-callout {
  @extend .well-font;
  font-size: 65px;
  padding-top: 50px;
}

.sub-welcome-callout {
  @extend .well-font;
  font-size: 30px;
  padding-bottom: 30px;
}

.sign-up-head {
  @extend .well-font;
  font-size: 40px;
  padding-bottom: 10px;
}

.sign-up-info {
  @extend .well-font;
  font-size: 20px;
  padding-bottom: 20px;
}

// Nav Styles
.navbar {
  margin: 0px;
  border: none;
  padding-bottom: 5px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a  {
  font-family: 'Cabin';
  font-weight: 500;
  color: #FFFFFB;
  padding: none;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  &:hover, &:focus {
    color: #FFFFFB;
    opacity: 0.75;
  }
}

.navbar-brand {
  font-size: 22px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #696969;
    opacity: 0.66;
  }
}

#main-nav-collapse {
  text-align: right;
}

// Home Page Styles
// .home-callout {
//   color: white;
//   margin-top: 0;
//   padding-top: 0px;
//   padding-bottom: 50px;
// }

.flash-container {
  position: absolute;
  width: 100%;
}

.alert-notice, .alert-alert, .alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

.home-signup-links {
  padding-top: 20px;
}


// Well Styles
.well{
  background-color: #598FBB;
  // background: rgb(66,139,202);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(80, 80, 80, 0.6);
  -moz-box-shadow:    2px 2px 10px 0px rgba(80, 80, 80, 0.6);
  box-shadow:         2px 2px 10px 0px rgba(80, 80, 80, 0.6);
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.well-font {
  color: #FFFFFB;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.sign-up-list {
  font-size: 21px;
  padding: 5px;
}

.glyphicon-ok {
  color: #47d147;
}
.glyphicon-remove {
  color: #ff0000;
}

// Sign Up
.sign-up {
  padding-top: 20px;
}

.btn {
  -webkit-box-shadow: 2px 2px 10px 0px rgba(80, 80, 80, 0.6);
  -moz-box-shadow:    2px 2px 10px 0px rgba(80, 80, 80, 0.6);
  box-shadow:         2px 2px 10px 0px rgba(80, 80, 80, 0.6);
}


 