.profile-page{
  margin-top: 40px;
}

.avatar-show-img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #2e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  color: white;
  text-align: center;
}
.well.profile-block {
  color: #fff;
  margin-top: 30px;
    h3 {
      margin-top: 0;
    }
}

.well.profile-description {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.well.profile-contact-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}

// User index page styles
.user-index-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.index-page {
  margin-top: 40px;
}

.well.green-bg {
  background-color: #c9e5d6;
}

.well.blue-bg {
  background-color: #c9d2e5;
}