.profile-page{
  margin-top: 40px;
}

.avatar-show-img {
  width: 200px;
  height: 200px;
}

.well.profile-block {
  color: #fff;
  margin-top: 30px;
    h3 {
      margin-top: 0;
    }
}

.well.profile-description {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.well.profile-contact-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}